

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F9FA;
    color: #000000;
  }
  
  header {
    background-color: #000000;
  }
  
  /*Barra de navegação*/
  
  .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 600;
  }
  
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active {
    color: #fcce3a;
    border-bottom: 2px solid #fcce3a;
  }
  
  /*Frase de efeito*/
  
  section.bg-warning {
    background: linear-gradient(90deg, #f9d423, #ffb347);
    color: #000;
    padding: 60px 0;
  }
  
  /*Cards(produtos e porfolio)*/
  
  .card {
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid #eee;
  }
  
  .card:hover {
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    transform: scale(1.02);
  }
  
  .btn-primary {
    background-color: #fcce3a;
    
    border: none;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .open>.dropdown-toggle.btn-primary {
    background-color: #FCA63A;
    border: none;
  }
  
  #valores_empresa{
    background-color: white;
    border-radius: 15px;
  }
  
  #portfolio_index{
    background-color: #D3D3D3;
    border-radius: 15px;
  }
  
  #galeria_index{
    border-radius: 15px;
  }
  
  #display-5 {
    color: #000;
  }
  
  #faleConosco_index{
    background-color: #D3D3D3;
    border-radius: 20px;
    border: #000000;
    padding: 150px;
  
  }
  
  #semifooter_index{
    background-color: #B0B0B0;
  }
  
  #logo-ad{
    width: 200px;
    color: #B0B0B0;
  } 

  .icon-card i { font-size: 2rem; color: #E6B800; }

  #hero { position: relative; height: 50vh; background: url('images/atron_motores.jpg') center/cover no-repeat; }
  #hero .overlay { position: absolute; inset: 0; background: #BF9B63;}
  #hero .content { position: relative; z-index: 1; color: white; text-align: center; top: 50%; transform: translateY(-50%); }

  /* Lightbox */
  .modal-img { max-width: 100%; }

  #modalCaption {
    font-size: 1.2rem;
    color: white;
    text-align: center;
  }

  #hero {
    position: relative;
    background-image: url('../images/atron_motores.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
  }
  
  #hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* escurece a imagem */
    z-index: 1;
  }
  
  #hero .content {
    position: relative;
    z-index: 2;
  }
  