

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #333333;
}

header {
  background-color: #000000;
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 600;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #fcce3a;
  border-bottom: 2px solid #fcce3a;
}

section.bg-warning {
  background: linear-gradient(90deg, #f9d423, #ffb347);
  color: #000;
  padding: 60px 0;
}

.card {
  background-color: #fefefe;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid #eee;
}

.card:hover {
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  transform: scale(1.02);
}

.btn-primary {
  background-color: #fcce3a;
  border: none;
  color: #000;
  font-weight: bold;
  padding: 10px 20px;
}
